@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Instrument+Serif:ital@0;1&display=swap');

* {
  scroll-behavior: smooth;
}

@theme {
  --color-black: #1e1e1e;
}

.bodoni-moda {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.instrument-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.instrument-bold {
  font-family: "Instrument Serif", serif;
  font-weight: 700;
  font-style: normal;
  font-synthesis: weight;
}

.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.jump{
    display:inline-block;
}

.jump2{
    display: inline-block;
    transform-origin: center;
    will-change: transform;
}


/* detective section */

@keyframes glitch {

    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-3px, 2px);
    }

    40% {
        transform: translate(3px, -2px);
    }

    60% {
        transform: translate(-2px, 1px);
    }

    80% {
        transform: translate(2px, -1px);
    }

    100% {
        transform: translate(0);
    }

}

.glitch {
    animation: glitch .15s infinite;
}

@keyframes scan {

    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100vh);
    }

}

.scanline {
    animation: scan 7s linear infinite;
}

.database-card {
    transition:
        transform .3s ease,
        border-color .3s ease,
        background .3s ease;
}

.database-card:hover {
    transform: translateX(5px);
}

.active-tab {
    color: #d0bf87;
    border-color: #a99a68;
    background: rgba(169, 154, 104, .06);
}
